.carousel-item {
    color: white;
    height: 32rem;
    position: relative;
    background: rgb(0, 0, 0) center;
    background-size: cover;
}

.main-carousel-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.45;
}

.test_div {
    height: 800px;
    background-color: white;
}

.mainFooter {
    min-height:50px;
    background-color: rgb(112, 115, 118);
}

body{
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.mainFooterSignIn {
    background-color: rgb(112, 115, 118);
    width: 100%;
}

/* pri obrazovke vacsej ako 1200px co je xl a viac bude footer fixed signIn.html */
@media screen and (min-width: 1200px) {
    .mainFooterSignIn {
        position: fixed;
        bottom: 0;
    }
}

.signInHeading {
    margin: 30px 0 0 150px;
}

.img-wrapper {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: 100%;
}
.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-block {
    margin: 50px 150px;
}

.customBtnWidth {
    width: 200px !important;
}

.customBtnWidthSmaller {
    width: 160px !important;
}

.putNextToEachOther {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profileTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.profileBelow {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.cardProfile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.button:hover, .a:hover {
    opacity: 0.7;
}
